<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
	<title>Exchange Tool</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Spectral+SC:wght@800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
	<div id="app" :key="exg">
		<div id="exchange">
			<div class="header">
				<h1>Currency Converter</h1>
			</div>
			<div class="container">
				<div class="row">
					<div class="col left">
						<h3>Currency: <strong id="cur">{{ exg }}</strong></h3>
						<!-- List of currencies -->
						<currencies-list 
							v-for="(rate, currency) in currencies" 
							v-bind:rate='rate'
							v-bind:currency='currency'
							v-on:change-currency="changeCurrency">
						</currencies-list>
					</div>
					<div class="col right">
						<div class="row">
							<h3> Exhange Calculator</h3>
						</div>
						<div class="row">
							<div class="col colone">
								<!-- Dropdown with currencies-->
								<select class="custom-select" v-model="selectedFromCurrency" v-on:change="calculateExhange(inputAmount, selectedFromCurrency, selectedToCurrency)">
									<option v-for="(rate, currency) in currencies">{{currency}}</option>
								  </select>
							</div>
							<div class="col coltwo">
								<button v-on:click="switchCurrencies">⇄</button>
							</div>
							<div class="col colthree">
								<!-- Dropdown with currencies-->
								<select class="custom-select" v-model="selectedToCurrency" v-on:change="calculateExhange(inputAmount, selectedFromCurrency, selectedToCurrency)">
									<option v-for="(rate, currency) in currencies">{{currency}}</option>
								  </select>
							</div>
						</div>
						<div class="row">
							<!-- Input/Output -->
							<div class="col first">
								<input type="text" v-on:input="calculateExhange(inputAmount, selectedFromCurrency, selectedToCurrency)" v-model="inputAmount">
							</div>
							<div class="col second">
								<input type="text" id="dis" disabled v-model="outputAmount">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>

</html>