 body {
  font-family: 'Lexend Peta', sans-serif;
  font-size: 12px;
   background-color: #58aae6dc;
   color: rgb(73, 73, 73);
   margin: 0px;
 }

 button {
   border: none;
   border-radius: 12px;
   background-color: #1E95EA;
   color: white;
   height: 25px;
   width: 40px;
   font-size: 14px;
 }

 button:hover {
  background-color: #1279c2;
 }

 .container {
   width: 70%;
   margin: auto;
   margin-top: 5%;
   padding: 2%;
   border-style: double;
   border-color: #bcdbe454;
   border-width: 4px;
   border-radius: 4px;
   background-color: #fafeffd0;
   -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
 }

 #header {
  font-family: 'Spectral SC', serif;  text-align: center;
  font-size: 18px;
}

h3 {
  font-family: 'Spectral SC', serif;  font-size: 18px;
}

 .col {
   float: left;
   padding: 2%;
 }

 .left {
   width: 30%;
   padding-left: 10%;
 }

 .right {
   width: 50%;
 }

 .row:after {
   content: "";
   display: table;
   clear: both;
 }

 a {
   text-decoration: none;
 }

 #currency {
   font-weight: bold;
 }

 #currency:hover {
   color: #0095ff;
 }

 input {
   width: 100px;
 }
 
 .custom-select {
  width: 80px;
}
 .custom-select, input {
    border: 1px solid rgb(194, 234, 247);
    border-radius: 4px;
    padding: 4%;
 }

 #dis {
   background-color: rgb(255, 255, 255);
 }
